### Miscellaneous
.DS_Store
Thumbs.db

### Composer
vendor/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/themes/themosis-theme/
/htdocs/content/uploads/
/htdocs/content/upgrade/

### Plugins Wordpress
/htdocs/content/plugins/bwp-google-xml-sitemaps/
/htdocs/content/plugins/jetpack/
/htdocs/content/plugins/login-lockdown/
/htdocs/content/plugins/w3-total-cache/
/htdocs/content/plugins/wordpress-seo/
/htdocs/content/plugins/wp-smushit/



### Environment Credentials
.env
.env.*
/config/environment.php


### Perso
Charlotte/
